In [4]:
myFirstInteger = 30
print(myFirstInteger)

30

In [13]:
print(2+4) #addieren
print(10-5) #subbtrahieren
print(4*2) #multiplizieren
print(7/3) #teilen
print(3**3) #Potenzieren
print(17//5) #Teilen Ergebnis ist Ganzzahl
print(17%5) #Teielen Ergebniss ist der Rest

6
5
8
2.3333333333333335
27
3
2

In [15]:
myFirstInteger = 15
mySecondInteger = 10
e = myFirstInteger - mySecondInteger #Zwei Variablen subtrahieren und Ergebnis in e gespeichert
print(e)

5

In [23]:
age = 42
age = age + 10 #age +=10 geht auch 
age += 1
print(age)

53

In [26]:
age = 42 
print(age) #Inhalt des Speichers
print(id(age)) #Adresse des Speichers

age =43 
print(age)
print(id(age))

42
95299742895304
43
95299742895336

In [35]:
myList = set() #Erstellen einer Liste
myList.add(2) #Werte zu Liste hinzugef체gt
myList.add(3) 
myList.add(4)
myList.add(5)
myList.add(6)
print(myList)
print(id(myList))
myList.remove(3) #Wert aus Liste entfernt
print(myList)
print(id(myList)) #Gleiche ID da Liste nicht ver채ndert (nur ein Wert entfernt)

{2, 3, 4, 5, 6}
124550918684032
{2, 4, 5, 6}
124550918684032

In [5]:
t1 = int(1.75) #kann nur ganze Zahlen
print(t1)
t1 = 1.75
print(t1)
t1 = "3.41" + "kmh" #Zeichenkette
print(t1)

1
1.75
3.41kmh

In [10]:
t2 = int("10110", base=2) #base: die Basis auf der es grechnet wird
print(t2)
t2 = int("FFF", base = 16) #F Ist 15 (hexadezimal)
print(t2)

22
4095

In [11]:
import sys
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [36]:
print(0.3 - (0.1*3))
print(0.3 - (0.1*3) ==0 )
print(0.3 - (0.1*3) > -0.1 and 0.3 - (0.1*3) < 0.1)

-5.551115123125783e-17
False
True

In [31]:
print(int(True))
print(int(False))
print(bool(1)) 
print(bool(0))
print(bool(-10))
print(bool(10))

print()
print(not True)
print(not False)
print(True or False)
print(True and False)

print()
if True:
    print("Wahr")

1
0
True
False
True
True

False
True
True
False

Wahr

In [34]:
c = complex(3.14,2.73)
print(c.real) #realer Teil
print(c.imag) #imagin채rer Teil
print(c.conjugate())

3.14
2.73
(3.14-2.73j)

In [46]:
str = "Hallo \n Welt" #f체r \ option+shift+7 
str1 = 'Hallo Du'
str2 = """Hallo

Mensch"""
str3 = '''Hallo 

Welt'''
print(str)
print(str1)
print(str2)

Hallo
 Welt
Hallo Du
Hallo

Mensch